In [28]:
start = int(input("Enter value1 for table: "))
end = int(input("Enter value2 for table: "))
while start <= end:
    for i in range(1,11):
        print(i, 'x', start, "=",start*i)
    start += 1
    print('\n')

Enter value1 for table: 5
Enter value2 for table: 10
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50


1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60


1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70


1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80


1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90


1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [29]:
start = int(input("Enter value1 for table: "))
end = int(input("Enter value2 for table: "))
while start <= end:
    for i in range(1,11):
         print(f"{i} * {start} = {i*start}", end="\t")
    print()
    start += 1

Enter value1 for table: 5
Enter value2 for table: 9
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90

In [30]:
data = []
for i in range(3):
    dic = {}
    
    dic["name"] = input("enter your name: ").title()
    dic["age"] = int(input("enter your age: "))
    dic["work"] = input("enter your work: ")    
    skills = input("enter your skills separated by ',' and space")
    skills2 = [skills]
    dic["skills"] = skills2
    key1 = input("key1: ")
    key2 = input("key2: ")
    key3 = input("key3: ")
    value1 = input("value1: ")
    value2 = input("value2: ")
    value3 = input("value3: ")
    dic["degree"] = {key1:value1, key2:value2, key3:value3}
    dic["salary"] = int(input("enter salary: "))
    
    
    
    data.append(dic)

enter your name: usman ali
enter your age: 22
enter your work: AI
enter your skills separated by ',' and spacepython, tensorFlow, cloud
key1: title
key2: major
key3: completionDate
value1: BS
value2: Computer Science
value3: jun 2020
enter salary: 320000
enter your name: Faizan Ahmad
enter your age: 24
enter your work: Cloud Native
enter your skills separated by ',' and spacepython, docker, html
key1: titlt
key2: major
key3: completionDate
value1: BS
value2: software engineering
value3: may 2020
enter salary: 29800
enter your name: Abu Bakr
enter your age: 34
enter your work: Blockchain
enter your skills separated by ',' and spacepython, c++, css
key1: title
key2: major
key3: completionDate
value1: BS
value2: Information Technology
value3: may 2022
enter salary: 378000

In [31]:
data

[{'name': 'Usman Ali',
  'age': 22,
  'work': 'AI',
  'skills': ['python, tensorFlow, cloud'],
  'degree': {'title': 'BS',
   'major': 'Computer Science',
   'completionDate': 'jun 2020'},
  'salary': 320000},
 {'name': 'Faizan Ahmad',
  'age': 24,
  'work': 'Cloud Native',
  'skills': ['python, docker, html'],
  'degree': {'titlt': 'BS',
   'major': 'software engineering',
   'completionDate': 'may 2020'},
  'salary': 29800},
 {'name': 'Abu Bakr',
  'age': 34,
  'work': 'Blockchain',
  'skills': ['python, c++, css'],
  'degree': {'title': 'BS',
   'major': 'Information Technology',
   'completionDate': 'may 2022'},
  'salary': 378000}]